@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Pomieszczenia" class="btn btn-primary">Do pomieszczeń</a>
    <a asp-action="CreateEditPomieszczenia" class="btn btn-secondary">Do tworzenia lub edytowania</a>
</div>
